<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="assets/img/icon.ico" type="image/x-icon">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
  rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css2?family=Hurricane&display=swap" rel="stylesheet">
  <title>WorldMapGame</title>
  <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>

  <!-- Menu -->
  <div class="nav justify-content-between align-items-center">
    <div class="nav__logo ms-5">
      <img class="nav__logo_img" src="assets/img/world.png" alt="exit">
    </div>
    <div class="nav__menu d-flex">
      <a href="../game/index.html" class="nav__menu-link">
        <div class="nav__menu-item me-3">
          Game
        </div>
      </a>
      <a href="../rating/index.html" class="nav__menu-link">
        <div class="nav__menu-item me-3">
          Rating
        </div>
      </a>
      <a href="../online/index.html" class="nav__menu-link">
        <div class="nav__menu-item me-3">
          Players online
        </div>
      </a>
      <a href="../history/index.html" class="nav__menu-link">
        <div class="nav__menu-item me-3">
          Players history
        </div>
      </a>
      <a href="../items/index.html" class="nav__menu-link">
        <div class="nav__menu-item me-3">
          Players item
        </div>
      </a>
    </div>
    <div class="nav__exit me-5">
      <a href="">
        <img class="nav__img" src="assets/img/exit.png" alt="exit">
      </a>
    </div>
  </div>

  <div class="rg__fon d-flex justify-content-center align-items-start pt-5">
    <div class="rg__form">
      <h1 class="">Players Online</h1>
  <table class="table">
    <thead>
      <tr class="">
        <th class="text-center align-middle" scope="col">Login</th>
        <th class="text-center align-middle" scope="col">in Game</th>
        <th class="text-center align-middle" scope="col">Free</th>
        <th class="text-center align-middle" scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th class="text-center align-middle" scope="row">1</th>
        <td class="text-center align-middle">Mark</td>
        <td class="text-center align-middle">Otto</td>
        <td class="text-center align-middle">
          <button class="btn__invite text-white">
            to Invite
          </button>
        </td>
      </tr>
    </tbody>
  </table>
    </div>
  </div>

  <script src="assets/js/index.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>
