
.timer {
  background-color: #fff;
  border-radius: 5px;
  opacity: 0.8;
  margin-top: 65px;
}

.start__btn {
  font-size: 24px;
  cursor: pointer;
  padding: 0px 13px;
  background: teal;
  border-radius: 12px;
  color: #fff;
  margin-top: 138px;
  border: none;
}

.start__btn:hover {
  opacity: 0.8;
}

.timerColor {
  background-color: #6f181b;
  color: #fff;
}
